/Linux/.vs
/Linux/calculate/bin
/Linux/calculate/obj
/Linux/calculate/calculate.vcxproj.user
/Linux/LinuxConsole/bin
/Linux/LinuxConsole/obj
/Linux/LinuxConsole/LinuxConsole.vcxproj.user
/Linux/Linux.sdf
/Linux/Linux.v12.suo